.App {
  text-align: center;
}

.App-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}
.logo span {
  visibility: hidden;
}
.features {
  text-align: left;
  width: 80%;
  padding-inline-start: 28px;
}
.container label,
.features li {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f6f6fa;
  height: 40vh;
  padding: 2rem 1.875rem;
}

.container label {
  margin-bottom: 1.25rem;
}
.code-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.code-form button {
  width: 30%;
}
.container input {
  height: 2.375rem;
  width: 60%;
}

.container button {
  height: 2.625rem;
  border: none;
  border-radius: 2px;
  background-color: #6e7bef;
  color: #f6f6fa;
}
