.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header,
.main {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  justify-content: center;
  height: 62vh;
}

.title {
  margin: 1.875rem 0 1.5rem;
  line-height: 1.15;
  font-size: 2.2rem;
  background-image: url("/images/logo_choreo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40vw;
}

.title span {
  visibility: hidden;
}

.title,
.description {
  text-align: center;
}

.familyImg {
  width: 60vw;
}

.grid {
  height: 38vh;
  padding: 1.25rem 1.5rem;
  background-color: #f6f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.features {
  text-align: left;
  width: 90%;
  padding-inline-start: 28px;
}
.container label,
.features li {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.codeform {
  margin-top: 1.125rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .codeform button {
  width: calc(35% - 0.5rem);
}
.container input {
  height: 2.6255rem;
  width: 65%;
}

.container button {
  width: 100%;
  height: 2.625rem;
  border: none;
  border-radius: 2px;
  background-color: #6e7bef;
  color: #f6f6fa;
}
.separator {
  padding: 0 5px;
  color: #b6b6b6;
  margin: 0.5rem 0;
}

.separator::before,
.separator::after {
  display: inline-block;
  content: "";
  height: 4px;
  width: 80px;
  border-top: 1px solid #b6b6b6;
  margin: 0 5px;
}
